*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar a {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #343434;
    font-weight: 400;
}

.navbar .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #343434;
    font-weight: 800;
    line-height: 60px;
}

.header {
    background-image: url("../images/asset\ 11.jpeg");
    background-position: center;
    background-size: cover;
}

.header .overlow1 {

    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

.header h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 500;
}

.header h2 span {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 200;
}

.header h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 500;
}

.card h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #343434;
    font-weight: 800;
}

.card .card-body span {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #748182;
    font-weight: 400;
}

.card .card-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #748182;
    font-weight: 400;
}

.card .card-text span {
    font-weight: 700;
    font-size: 15px;
}

.card .progress span {
    color: #FFFFFF;
}

.card-buttons .btn1:hover {
    background-color: #FFFFFF;
    transition: all 1s;

    color: #000;
}

.card-buttons .btn2:hover {
    background-color: #000;
    transition: all 1s;

    color: #FFFFFF;
}


.services {
    background-color: #F7F7F7;
}

.services .services-head h3 {
    font-family: "Montserrat", sans-serif;
    color: #343434;
    font-size: 40px;
    font-weight: 900;
}


.services .services-cards i {
    transform: translate(-55%);
    font-size: 30px;
    border-radius: 50%;
    background-color: #F7F7F7;
    transition-duration: 1s;

}


.services .services-cards .card h2 {
    font-size: 25px;
    font-weight: 700;
}


.services .services-cards .card:hover i {

    background-color: #000;
    color: #fff;
    transition-duration: 1s;

}



.portfolio .portfolio-head h3 {
    font-family: "Montserrat", sans-serif;
    color: #343434;
    font-size: 40px;
    font-weight: 900;
}


.portfolio .overlow .overlow-port {
    transition-duration: 1s;


}

.portfolio .overlow:hover .overlow-port {


    height: 100%;
    inset: 0;
    background-color: white;
    opacity: 0.8;
    transition-duration: 1s;


}

.portfolio .overlow .overlow-port .content {
    opacity: 0;


}

.portfolio .overlow .overlow-port:hover .content {
    opacity: 1;
    transition-duration: 1s;

}


.xavi {

    background-color: #F7F7F7;


}


.carousel-item img {
    width: 10%;
}


.carousel-inner .carousel-caption {

    color: #343434;

}

.carousel-inner h3 {
    font-family: "Montserrat", sans-serif;
    color: #343434;
    font: size 40px;
    font-weight: 900;

}

.carousel-inner .carousel-caption h5 {
    color: #343434;


    font-size: 25px;
}

.carousel-inner .carousel-caption p {

    font-size: 20px;
}



.carousel-indicators {
    position: relative;
    top: 480px;
}


.card-content {
    background-color: #F7F7F7;
}

.card-content h4 {
    font-family: "Montserrat", sans-serif;
    color: #343434;
    font: size 25px;

    font-weight: 500;
}

.card-content h5 {
    font-family: "Montserrat", sans-serif;
    color: #343434;
    font: size 25px;
    font-weight: 700;
}



.card-content .overlow .overlow-port {
    transition-duration: 0.5s;


}

.card-content .overlow:hover .overlow-port {



    inset: 0;
    background-color: white;
    opacity: 0.9;
    transition-duration: 0.5s;


}

.card-content .overlow .overlow-port .content {
    opacity: 0;


}

.card-content .overlow .overlow-port:hover .content {
    transform: rotatey(360deg);
    opacity: 1;
    transition-duration: 0.5s;

}
.contact i{
    color: #000;
    background-color: #F7F7F7 ;
    transition: all .5s;
}
.contact .icon{
    transition: all 0.5s;
}

.contact .icon:hover i{
    background-color: #000;
    color: white;
    
}

footer span{
    color: grey;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
}